<div class="main-page">
  <!-- navbar -->
  <%#= render "pages/navbar" %>


<!-- lists -->
 <div class="container-list">
    <div class="row w-100">
        <div class="col d-flex">
          <ul class="list">
            <% @link_list.compact.each do |list| %>
              <li id="btn-list" class="list-link <%=  'active' if params[:list_id].to_i == list.id %>" >
                <span><%= link_to "#{list.name}", list_path(list, list_id: list.id), class: "text-dark list-name" %></span>
              </li>
          </ul>
            <% end %>
        </div>
     </div>
  </div>

<!-- action for list -->
<%= link_to 'All items', list_path(@my_list), class: 'btn-all-items' %>

  <!-- This is the 'burger' icon that will open the menu -->
  <div class="menu-activate-burger">
    <i class="fas fa-bars burger-menu"></i>
  </div>

  <!-- Side nav/panel to get to dashboard -->
  <section class="menu-modal">
    <span><i class="far fa-times-circle close-menu text-danger"></i></span>
    <div class="profile-picture"></div>
    <div class="menu-user-info">
      <span class="menu-user-name">Josh Barnes</span>
      <span class="menu-user-email">josh@gmail.com</span>
    </div>
    <ul class="menu-items-container">
      <li class="menu-item">
        <%= link_to 'Profile', dashboard_path, class: 'menu-item-link' %>
        <i class="fas fa-user-circle"></i>
      </li>
      <li class="menu-item">About <i class="fas fa-info-circle"></i></li>
      <li class="menu-item">
        <%= link_to 'New List', (new_list_path), class: 'menu-item-link' %>
        <i class="fas fa-folder-plus"></i>
      </li>
      <li class="menu-item">Completed <i class="fas fa-check-circle"></i></li>
      <li class="menu-item">Settings <i class="fas fa-cog"></i></li>
      <li class="menu-item" id="logout">Logout <i class="fas fa-sign-out-alt"></i></li>
    </ul>
  </section>
  <!-- End of nav/side panel -->

  <!-- Fake Notification -->
  <%# <div class="notifiation-bell">
    <i class="fas fa-bell text-danger"></i>
    <span class="notification-count">1</span>
  </div> %>
  <div class="notification-modal heartbeat">
    <span><i class="far fa-times-circle notification-close text-danger"></i></span>
    <div class="notification-content-container">
      <i class="fas fa-exclamation-circle text-success"></i>
      <p class="notification-body">Burgers are close by</p>
    </div>
   

  </div>
  <!-- End of Fake Notification -->



<%# end %>

<div class="container-item" >
  <% if !params[:list_id] %>
    <h2>All your items</h2>
  <% else %>
  <div class="due-date">
    <h3 >Due date: <%= @my_list.due_date %></h3>
     <!--  <%= link_to edit_list_path(@my_list) do %>
        <i class="fas fa-pen ml-4"></i>
        <% end %>
        <%= link_to list_path(@my_list), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt ml-4"></i>
        <% end %> -->
  </div>

      <button class="btn-share-buddy position-right">
        <div><i class="fas fa-user-friends"></i></div>

      </button>


  <% end %>


    <div class="buddy-form form-hidden"><%= render "user_lists/form_buddy", list: @my_list %></div>


  <% if @new_form %>
    <% if @items_with_list %>
      <p><%= render "lists/form_new_item", list:@my_list, item: @item_new, optional: !params[:list_id],my_list: @my_list.id, other_list: @other_list.id %></p>
      <% else %>
        <p><%= render "lists/form_new_item", list:@my_list, item: @item_new, optional: !params[:list_id],my_list: @my_list.id %></p>
    <% end %>
  <% end %>
  <% if @edit_form %>
    <p><%= render "lists/form_edit_item", item: @item_to_edit %></p>
  <% end %>

  <!-- items -->
  <% @items.each_with_index do |item, index| %>
    <ul class="items">
      <li class="card-item">
        <div class="content d-flex align-items-center">
          <h4 class="ml-2">x <%= item.quantity %></h4>
          <div class="name">
            <div class="mr-4">
            <h3><%= link_to "#{item.name}", item_path(item), class: "text-dark " %></h3></div>
            <div class="display-none"><%= item.item_category %></div>
            </div>

          </div>


          <div class="d-flex align-items-center">
            <label class="switch mb-0">
              <%= link_to update_notification_item_path(item), method: :put do %>
                <% if item.notification == true %>
                  <input type="checkbox" checked>
                <% else %>
                  <input type="checkbox">
                <% end %>
                <span class="slider round"></span>
              <% end %>
            </label>
            <i class="fas fa-bell"></i>
            <!-- <%= link_to (list_path(@list,item_id: item.id, list_id: @other_list, edit: true)) do %>
            <i class="fas fa-pen"></i>
            <% end %>
            <%= link_to list_item_path(@list, item), method: :delete, data: { confirm: "Are you sure?" } do%>
            <i class="fas fa-trash-alt"></i>-->
            <% end %>
          </div>
      </li>
    </ul>
  <% end %>
  <% if @items_with_list %>
    <%= link_to (list_path(@list, list_id: @other_list, new: true)) do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  <% else %>
    <%= link_to (list_path(@list, new: true)) do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  <% end %>
</div>
</div>





