
<h1>create new item</h1>
<%#  if policy(List).index? %>
    <h1> Your shopping Lists </h1>
      <% @lists.each do |list| %>
      <ul>
        <li>
          <%=list.name%>
          <%= link_to "Update", edit_list_path(list) %>
        </li>
      </ul>
      <% end %>
      <%= link_to "New Shopping List", new_list_path %>
  <%# end %>

<h1> Items </h1>
  <% if @form %>
    <p>Hello</p>
  <% end %>
      <% @items.each do |item| %>
      <ul>
        <li>
          <%=item.name%>
          <%= item.item_category %>
          <%= item.quantity %>
          <button type="button" class="btn btn-outline-primary"><%= item.notification %></button>
        </li>
      </ul>
      <% end %>
      <%= link_to "Add item", list_path(@list, new: true) %>


  <%#= simple_form_for [@list, @item] do |f| %>
  <%#= f.input :name, label %>
  <%#= f.input :content, label: "How was your monster?"%>
  <%#= link_to 'Cancel', root_path, class: 'text-danger mr-2' %>
  <%#= f.submit "Confirm", class: 'btn btn-success' %>
  <%# end %>
