<h1> Shopping Lists </h1>
  <% @lists.each do |list| %>
    <ul>
     <li>
      <%= link_to "#{list.name}", list_path(list, list_id: list.id) %>
       <%= list.due_date %>
      <%= link_to "Update", edit_list_path(list) %>
      <%= link_to "Share with buddy", list_path(list), method: :share%>
      <%= link_to "Delete", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
     </li>
    </ul>
  <% end %>
  <%= link_to "New Shopping List", new_list_path %>

<%# end %>



  <% if !params[:list_id] %>
    <h2>All your items</h2>
  <% elsif @items[0] %>
    <h2> <%= @items[0].list.name %></h2>
  <% end %>
  <% if @new_form %>
    <p><%= render "form_new_item", item: @item_new, optional: !params[:list_id] %></p>
  <% end %>
  <% if @edit_form %>
    <p><%= render "form_edit_item", item: @item_to_edit %></p>
  <% end %>
  <% @items.each_with_index do |item, index| %>
    <ul>
      <li>
        <%= link_to "#{item.name}", item_path(item) %>
        <%= item.item_category %>
        <%= item.quantity %>
        <button type="button" class="btn btn-outline-primary"><%= item.notification %></button>
        <%= link_to "Edit", list_path(@list,item_id: item.id, list_id: params[:list_id], edit: true) %>
        <%= link_to "Delete", list_item_path(@list, item), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    </ul>
  <% end %>
  <%= link_to "Add item", list_path(@list, list_id: params[:list_id], new: true) %>



