<h1> Your Shopping Lists </h1>
<div class="list-container">
  <div class="row">
    <div class="col d-flex">
      <% @lists.each do |list| %>
    <ul>
     <li id="btn-list" >
        <span><%= link_to "#{list.name}", list_path(list, list_id: list.id) %></span>
      </li>
    </ul>
    <% end %>
  </div>
   </div>
  </div>

<%# end %>

  <% if !params[:list_id] %>
   <%= link_to "New Shopping List", new_list_path %>

    <h2>All your items</h2>
  <% else %>
  <%= link_to "Back", list_path(@my_list) %>
  <%= @my_list.due_date %>
        <%= link_to "Update", edit_list_path(@my_list) %>
        <%= link_to "Share with buddy", list_path(@my_list, list_id: @other_list, buddy: true)%>
        <%= link_to "Delete", list_path(@my_list), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

<% if @new_buddy %>
    <p><%= render "user_lists/form_buddy", list: @my_list %></p>
  <% end %>

  <% if @new_form %>
    <p><%= render "lists/form_new_item", list:@my_list, item: @item_new, optional: !params[:list_id],my_list: @my_list.id, other_list: @other_list.id %></p>
  <% end %>
  <% if @edit_form %>
    <p><%= render "lists/form_edit_item", item: @item_to_edit %></p>
  <% end %>
  <% @items.each_with_index do |item, index| %>
    <ul>
      <li>
        <%= link_to "#{item.name}", item_path(item) %>
        <%= item.item_category %>
        <%= item.quantity %>

         <label class="switch">
    <%= link_to update_notification_item_path(item), method: :put do %>
        <% if item.notification == true %>
          <input type="checkbox" checked>
        <% else %>
          <input type="checkbox">
        <% end %>
        <span class="slider round"></span>
        <% end %>
        </label>

        <%= link_to "Edit", list_path(@list,item_id: item.id, list_id: @other_list, edit: true) %>
        <%= link_to "Delete", list_item_path(@list, item), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    </ul>
  <% end %>
  <%= link_to "Add item", list_path(@list, list_id: @other_list, new: true) %>



