<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email",
                  id: 'email',
                  class: 'login-input',
                  placeholder: 'Email' } %>

    <%= f.input :password,
                required: false,
                label: false,
                input_html: { autocomplete: "current-password",
                  id: 'password',
                  class: 'login-input',
                  placeholder: 'Password' } %>

    <div class="login-learn-more-container">
    <%= f.button :submit, "Login", id: 'btn-login', class: 'btn homepage-btn' %>
    <a href="../pages/about" class="btn homepage-btn" id="btn-learn-more">Learn more</a>
    </div>

    <!-- 
    I've commented out the 'remember me' button 
    for the purpose of the demo. 
    Because it was ugly and we won't need it
    for the demo night
    -Glenn

    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> 
    -->

<% end %>

<!-- render "devise/shared/links" -->

<%# <form action="" class="container-form">
  <input id="email" class="login-input" type="text" placeholder="Email">
  <input id="password" class="login-input" type="password" placeholder="Password">
  <input id="btn-login" class="btn" type="submit" value="Login">
</form> %>
