<div class="container-item-page">
  <div class="container" id="container-item">
    <h2 id="item-name"><%= @item.name %></h2>
    <p id="item-category"><%= @item.item_category %></p>
  
    <div class="container-item-edit-actions">
        <%= link_to edit_list_item_path(@item) do %>
          <i class="fas fa-edit text-info"></i>
        <% end %>
        <%= link_to item_path(@item),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt text-danger"></i>
        <% end %>
    </div>

    <div class="container-nearby-stores">
      <h2>Nearby stores</h2>
      <div class="nearby-stores"></div>
    </div>
  </div>

  <div id="map"
      data-markers="coordinates"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <footer id="footer-item">
    <%= link_to list_path(@item.list_id), class: "back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <i class="fas fa-home"></i>
  </footer>
</div>